<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="R3MUS.Devpack.Wardec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="R3MUS.Devpack.Wardec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <R3MUS.Devpack.Wardec.Properties.Settings>
      <setting name="LastMessageId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CurrentWars" serializeAs="String">
        <value />
      </setting>
    </R3MUS.Devpack.Wardec.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <R3MUS.Devpack.Wardec.Properties.Settings>
      <setting name="Room" serializeAs="String">
        <value>it_testing</value>
      </setting>
      <setting name="BotName" serializeAs="String">
        <value>Skynet</value>
      </setting>
      <setting name="SlackWebhook" serializeAs="String">
        <value>https://hooks.slack.com/services/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</value>
      </setting>
      <setting name="Token" serializeAs="String">
        <value>xoxs-4459251457-9901405956-119904588608-e4c18c7d9a</value>
      </setting>
      <setting name="Group" serializeAs="String">
        <value>r3mus</value>
      </setting>
      <setting name="HomeCorp" serializeAs="String">
        <value>98389365</value>
      </setting>
      <setting name="HomeAlliance" serializeAs="String">
        <value>99005393</value>
      </setting>
      <setting name="AddURI" serializeAs="String">
        <value>http://localhost:68/api/war/add/{0}/{1}/{2}</value>
      </setting>
      <setting name="ScrapURI" serializeAs="String">
        <value>http://localhost:68/api/war/scrap/{0}</value>
      </setting>
    </R3MUS.Devpack.Wardec.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ForumDBEntities" connectionString="data source=(local);initial catalog=r3mus_Forum;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>